.banner {
    background-color: black;
    height: 200px;
    width: 40px;

    position: fixed;
    left: 0;
    top: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    // position: relative;
    color: white;
    display: flex;
    font-size: 24px;
    word-wrap: normal;
    writing-mode: tb-rl;

    transform-origin: center;
    transform: translateY(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) rotate(180deg);
    // -moz-transform: translateYrotate(-90deg);
    // -ms-transform: translateYrotate(-90deg);
    // -o-transform: translateYrotate(-90deg);
}
